# ignore possible tex compiler side-files.
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.fls
*.toc
*.out
*.pygtex
*.pygstyle
*.fdb_latexmk

*.swp

.vscode/

# Jekyll related
_site
.sass-cache
.jekyll-metadata
vendor/
*~
.bundle/
